@mixin font-face() {
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/source/fonts/lato/Lato-Regular.woff2") format("woff2");
  }
}
