/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$bg-basic-green: #68b738;
$basic-grey: #f2f2f2;
$title-color-black: #000000;
$card-color-black: #222222;
$bacic-white: #ffffff;
$dark-grey: #666666;
$desktop-width: 1440px;
$tablet-width: 768px;

