.copyright {
  font-family: 16px;
  line-height: 20px;
  text-decoration: none;
}

.copyright__link {
  display: block;
  cursor: pointer;
}

.copyright--text {
  color: $base-color-text;
}

.copyright--image {
  mask-image: url("../../icons/stack.svg#footer_html-academy");
  background-color: $dark-grey;
  width: 27px;
  height: 34px;
}
