.example {

}

.example__heading {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color-black;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
}

.example__list {

}

.example__item {
  list-style-type: none;
}

.example__total {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color-black;
}

.example__caption {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__cost {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $title-color-black;
}
