.products-other {

}

.products-other__heading {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color-black;
}

.products-other__list {
  text-decoration: none;
}
