.products {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.products__heading {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $title-color-black;
}

.products__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
