.programs {

}

.programs__list {

}

.programs__item {
  list-style-type: none;
  background-color: $basic-grey;
}

.programs__item--slim {

}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $title-color-black;
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $title-color-black;
  text-decoration: none;
}

.programs__link--slim {

}

.programs__item--pro {

}

.programs__link--pro {

}
