.programs {

}

.programs__list {

}

.programs__item {
  list-style-type: none;
  background-color: $basic-grey;
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $title-color-black;
}

.programs__title::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $bg-basic-green;
}

.programs__title--slim::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat_slim");
  background-size: 36px 50px;
  background-repeat: no-repeat;
  transform: translate(10px, -40px);
}

.programs__title--pro::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#cat_fit");
  background-repeat: no-repeat;
  transform: translate(-10px, -20px);
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $title-color-black;
  text-decoration: none;
}

.programs__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: center;
  background-color: $title-color-black;
}
