.promos {

}

.promos__heading {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $card-color-black;
}

.promos__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $card-color-black;
}

.promos__form {

}

.promos__field {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
}

.promos__button {

}
