.steps {

}

.steps__heading {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color-black;
}

.steps__list {

}

.steps__item {
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
}

